@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-lg-9">
    <br>
    <br>
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="width: 1200px;">

            <div class="carousel-item active" style="height: 410px;">
                <img class="img-fluid" src="~/Images/img/carouse-1.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 1200px;">
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Nguyên chất</h3>
                        <h4 class="text-light text">Nguyên liệu được lấy từ thiên nhiên và tinh chế ra các sản phẩm tươi ngon mà vẫn giữ nguyên hương vị gốc của nguyên liệu</h4>
                        <a href="" class="btn btn-light py-2 px-3">Thưởng thức xíu đi nào ní ơi! </a>
                    </div>
                </div>
            </div>

            <div class="carousel-item" style="height: 410px;">
                <img class="img-fluid" src="~/Images/img/carouse-2.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 1200px;">
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Tiện lợi</h3>
                        <h4 class="text-light text">Từ không gian quán, thanh toán đến đặt hàng đều đa dạng. Mang đến sự hài lòng của khách khi đắm chìm vào các cuộc họp, học nhóm, trò chuyện, giải trí.</h4>
                        <a href="" class="btn btn-light py-2 px-3">Thưởng thức xíu đi nào ní ơi!</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 410px;">
                <img class="img-fluid" src="~/Images/img/carouse-3.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 1200px;">
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Liên tục</h3>
                        <h4 class="text-light text">Tại Hi cà phê, cánh cửa luôn luôn mở để đón chào khách hàng đến trải nghiệm dịch vụ.</h4>
                        <a href="" class="btn btn-light py-2 px-3">Thưởng thức xíu đi nào ní ơi!</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="height: 410px;">
                <img class="img-fluid" src="~/Images/img/carouse-4.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 1200px;">
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Đa dạng</h3>
                        <h4 class="text-light text">Với hệ thống kiểm soát bán hàng và đặt hàng trực tuyến đa tiện lợi giúp cho khách hàng, quản lí và nhân viên đều có thể dễ sử dụng.</h4>
                        <a href="" class="btn btn-light py-2 px-3">Thưởng thức xíu đi nào ní ơi!</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>

<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Bảo đảm chất lượng tốt</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Giao hàng miễn phí</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Đổi trả nếu gặp vấn đề</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Hỗ trợ 24/24</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End-->
<div class="container-fluid pt-5">
    <div class="row justify-content-center text-center">
        <h2 class="section-title px-5"><span class="px-2">Thành viên phát triển dự án</span></h2>
    </div>
</div>

    <div class="row justify-content-center text-center">
        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
                     alt width="100"
                     class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Phan Trọng Đại</h5><span class="small text-uppercase text-muted">Product Owner</span>
            </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
                     alt width="100"
                     class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Nguyễn Xuân Thịnh</h5><span class="small text-uppercase text-muted">Developer</span>
            </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
                     alt width="100"
                     class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Nguyễn Bá Tài Đức</h5><span class="small text-uppercase text-muted">Developer</span>
            </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
                     alt width="100"
                     class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Nguyễn Võ Phát Đạt</h5><span class="small text-uppercase text-muted">Developer</span>
            </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
                     alt width="100"
                     class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Trần Khánh Duy</h5><span class="small text-uppercase text-muted">Developer</span>
            </div>
        </div>
        <!-- End-->
        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
                     alt width="100"
                     class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Trương Gia Huy</h5><span class="small text-uppercase text-muted">Developer</span>
            </div>
        </div>
        <!-- End-->
