@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Giới thiệu & Liên hệ</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Trang chủ</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Giới thiệu & Liên hệ</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Liên hệ nếu có bất kỳ thắc mắc nào</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="Tên của bạn"
                                   required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="Email của bạn"
                                   required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="Tiêu đề"
                                   required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" rows="6" id="message" placeholder="Nội dung thư"
                                      required="required"
                                      data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <style>
                            .custom-btn {
                                background-color: #your-color; /* Replace #your-color with the color code you want to use */
                                color: #fff; /* Text color */
                                /* Add any additional styling properties you need */
                                border: none;
                                padding: 1px 5px;
                                cursor: pointer;
                                border-radius: 5px;
                            }
                        </style>
                        <div>
                            <button class="btn btn-primary btn-lg custom-btn" type="submit" id="sendMessageButton">
                                Gửi tin nhắn

                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <h5 class="font-weight-semi-bold mb-3">Giới thiệu</h5>
                <p>Chào mừng bạn đến với cửa hàng cà phê mặn mà của chúng tôi! Chúng tôi tự hào mang đến cho bạn những hương vị độc đáo và thú vị, từ cà phê đậm đà đến những biến thể độc đáo với hạt cà phê chất lượng cao từ khắp nơi trên thế giới. Hãy cùng chúng tôi trải nghiệm sự kết hợp tuyệt vời giữa cà phê và hương vị mặn mà, để tạo nên những khoảnh khắc đáng nhớ mỗi ngày.</p>
                <div class="d-flex flex-column mb-3">
                    <h5 class="font-weight-semi-bold mb-3">Cửa hàng 1</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>84 Đ.Tân Xuân 6, X.Tân Xuân, H.Hóc Môn, TP.HCM</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>khachhang@hicaphe.onmicrosoft.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>028 753 9056</p>
                </div>
                <div class="d-flex flex-column">
                    <h5 class="font-weight-semi-bold mb-3">Cửa hàng 2</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>52/6 Đ.Phan Chu Trinh, TP.HCM</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>khachhang@hicaphe.onmicrosoft.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>028 753 9056</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
</main>